:root {
    --bg-blue-light:#6BD1FF;
    --bg-blue-dark:#051D3B;
    --bg-gray-light:rgba(255, 255, 255, 0.16);
    --bg-gray-dark:#141414;

    --font-color:#ffffff;
    --title-color:#ffffff;

    --font-family:'Inter', sans-serif;
}



body {
    
    font-family:var(--font-family);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5rem;
    background-color: var(--bg-blue-dark)
}

.title {
    padding: 0 0 1rem 0;
    font-size: 0.80rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: var(--title-color);
}


.main__container {
    display:flex;
    padding-left: 2rem;
}




