
.header__container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    margin:1rem 0 2.50rem 1rem;
    /* gap: 1rem; */
}

.header__logo{
    width: 180px;
}

.header__search {
    width: 84.3%;
    border-radius: 5px;
    background-color: var(--bg-gray-light);
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 1rem 1rem;
    color: var(--font-color);
}

.header__author {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    background-color: var(--bg-blue-dark);
    border-radius: 0.5rem;
    border:none;
    padding: 0.5rem;
    margin: 0 6rem 0 0;
}

.header__author__photo {
    width: 38px;
    height: 38px;
}

.header__author__name {
    padding: 0 0 0 10px;
    color: var(--font-color);
}


/* responsividade tablet 768px talvez 900px? */

@media screen and (min-width:768px) and (max-width:900px) {

    .header__container {
        margin:1rem 0 1.5rem 0.5rem;
        justify-content: space-between;
    }

    .header__search {
        width: 100%;
        margin-left: 1rem;
    }

    .header__author {
        display: none;
    }
    
}



