

.nav__container {
    width: 17.5%;
}

.nav__icon {
    padding: 15px;
    height: 18px;
    background-color: #5081FB;
    margin-bottom: 4%;
    margin-right: 4%;
    border-radius: 16px;
    color: var(--font-color);
}


.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 2% 0;
    
}

.nav__li {
    text-decoration: none;
    list-style: none;
    color: var(--font-color);
    opacity: 30%;
    font-size: var(--font-size-fields);
}

.current__link {
    color: var(--font-color);
    opacity: 100%;
}

.nav__toggle {
    color: var(--bg-blue-dark);
}







