/* 
:root {
    --main-color:#051D3B;
} */

* {
    background-color: #051D3B;
}

/* -----------------cabeçalho/header-----------------*/

header {
    width: 1376px;
    height: 120px;
    top: 32px;
    left: 32px;
    display: flex;
}

.navbar__header {
    width: 1376px;
    height: 56px;
    top: 32px;
    left: 32px;
    padding: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar__logo {
    width:145px;
    height: 60px;
   /*  Acho que fica melhor com height 60px porém no figma estava como 34, estamos mantendo fiel */
}

.navbar__search {
    color: gray;
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    border: none;
}

.navbar__author {
    height: 56px;
    width: 106px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar_authorphoto {
    height: 32px;
    width: 32px;
}


/* -----------------Main Menu-----------------*/

.menu__aside {
    color: white;
    list-style: none;
    width: 180px;
    height: 189px;
    margin: 0 0 0 40px;
    background-color: thistle;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.menu__iconEditor, .menu__iconCommunity {
    height: 48px;
    width: 48px;
    padding: 15px 5px 0 0 ;
    
}







