

:root {
    --background: #051D3B;
    --background-forms:rgba(255, 255, 255, 0.16);
    
}

* {
    color: white;
    list-style: none;
    text-decoration: none;
   
}

body{
    background-color: var(--background);
}

main {
    padding: 0 2rem;
    
}

.menu__title {
    padding: 0 0 1rem 0;
    font-size: 0.80rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

/* -------- HEADER -----------*/

.navbar__header {
    display: grid;
    grid-template-columns: 1fr 2.1fr 0.9fr;
    align-items: center;
    margin:1rem 0 2.5rem 0;
    gap: 2.5rem;
}

.navbar__logo {
    width: 180px;
    margin: 0 0 0 1rem;
}

.navbar__search {
    color: gray;
    width: 100%;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 1.3rem 1rem;
    margin: 1rem;
    box-sizing: border-box;
    margin: 0.5rem 0;
    font-size: 1rem;
 
}

.navbar__author {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0 2rem 0 0;
    background-color: var(--background);
    border-radius: 0.5rem;
    border:none;
}

.navbar__authorPhoto {
    width: 38px;
    height: 38px;
}

.navbar__authorName {
    color: white;
    padding: 0 0 0 10px;
    font-size: 1rem;
}

/* -------- MENU LEFT -----------*/


.menu__all {
    display:flex;

}
.menu__left {
    width: 25%;
}

.menu__leftIcon {
    vertical-align: middle;
    padding: 0.5rem 1rem 0.5rem 0;
    width: 48px;
    height: 48px;
}

.menu__leftList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 15px 0;
}

/* -------- MENU MAIN -----------*/


.menu__mainColorFrame {
    width: 60.62rem;
    height: 24rem;
    background-color:#6BD1FF;
    border-radius: 0.5rem;
    margin-right: 2rem;
    margin-left: 4rem;
    box-sizing: border-box;
    padding: 1.7rem;

    
}

.menu__mainBackground {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
}

.menu__mainIcon {
    background-color: black;
    padding: 0 0.3rem 1rem 0;
}

.menu__mainText {
    width: 55rem;
    height: 15rem;
    background-color: black;
    border: none;
    color: white;
    resize: none;
    
}

.menu__mainButton {
    color: white;
    background-color: #5081FB14;
    margin-top: 2rem;
    width: 60.62rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    margin-right: 2rem;
    margin-left: 4rem;
}


/* -------- MENU RIGHT -----------*/



.menu__rightProject {
    width: 93%;
    height: 3rem;
    background-color: var(--background-forms);
    border-radius: 0.5rem;
    border: none;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.menu__rightDescription {
    width: 93%;
    height: 4rem;
    background-color: var(--background-forms);
    border-radius: 0.5rem;
    border: none;
    padding: 2rem 0.3rem 0.3rem 1rem;
    font-size: 100%;
    resize: none;
}



.menu__rightBottom {
    padding:2rem 0 0 0;
}

.menu__rightCustomize {
    background-color: var(--background-forms);
    border-radius: 0.5rem;
    width: 100%;
    height: 4rem;
    border: none;
    font-size: 1rem;
}



/*  WASNT WORKING

desenho da borda envolta da comunidade
.menu__icon {
    background-color:#5081FB;
    border-radius: 1rem;
    padding: 1rem 1rem;

}

.menu__aside {
    width: 280px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
   
}



.menu__iconBorder {
    width: 160px;
    height: 48px;
}




.menu__icon {
    background-color:#5081FB;
    border-radius: 16px;
    padding: 15px 14px;
    
}

 */

