

:root {
    --backgroundcolor-allpage: #051D3B;
    --backgroundcolor-interactive:rgba(255, 255, 255, 0.16);
    
    --background-forms:rgba(255, 255, 255, 0.16);
}

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 25rem;
    line-height: 1.5rem;
    color: #ffffff;
}

body{
    background-color: var(--backgroundcolor-allpage);
    font-size: 16px;
}


.menu__title {
    padding: 0 0 1rem 0;
    font-size: 0.80rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

/* -------- HEADER -----------*/

.navbar__header {
    display: grid;
    grid-template-columns: 0.8fr 2.3fr 0.9fr;
    align-items: center;
    margin:1.8rem 0 2.5rem 0;
    /* gap: 2.5rem; */
}

.navbar__logo {
    width: 180px;
    margin: 0 0 0 1rem;
}

.navbar__search {
    color: gray;
    width: 95%;
    border-radius: 0.5rem;
    background: var(--backgroundcolor-interactive);
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 1.3rem 1rem;
    margin: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
 
}

.navbar__author {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0 4rem 0 0;
    background-color: var(--background);
    border-radius: 0.5rem;
    border:none;
}

.navbar__authorPhoto {
    width: 38px;
    height: 38px;
}

.navbar__authorName {
    color: white;
    padding: 0 0 0 10px;
    font-size: 1rem;
}

/* -------- MENU LEFT -----------*/


.menu__all {
    display:flex;
    padding: 0 2rem;

}
.menu__left {
    width: 17.5%;
}

.menu__leftIcon {
    vertical-align: middle;
    padding: 0.5rem 1rem 0.5rem 0;
    width: 48px;
    height: 48px;
}

.menu__leftList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 15px 0;
}

/* -------- MENU MAIN -----------*/


.menu__mainColorFrame {
    width: 66rem;
    height: 24rem;
    background-color:#6BD1FF;
    border-radius: 0.5rem;
    margin-right: 4rem;
    margin-left: 4rem;
    box-sizing: border-box;
    padding: 1.7rem;

    
}

.menu__mainBackground {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 1rem;
}

.menu__mainIcon {
    background-color: black;
    padding: 0 0.3rem 1rem 0;
}

.menu__mainText {
    width: 60rem;
    height: 15rem;
    background-color: black;
    border: none;
    color: white;
    resize: none;
    
}

.menu__mainButton {
    color: white;
    background-color: #5081FB14;
    margin-top: 2rem;
    width: 66rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    margin-right: 2rem;
    margin-left: 4rem;
}


/* -------- MENU RIGHT -----------*/



.menu__rightProject {
    width: 93%;
    height: 3rem;
    background-color: var(--background-forms);
    border-radius: 0.5rem;
    border: none;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    font-size: 1rem;
    margin: 0 0 1rem 0;
}

.menu__rightDescription {
    width: 93%;
    height: 4rem;
    background-color: var(--background-forms);
    border-radius: 0.5rem;
    border: none;
    padding: 2rem 0.3rem 0.3rem 1rem;
    font-size: 100%;
    resize: none;
}


.menu__rightBottom {
    padding:2rem 0 0 0;
}

.menu__rightCustomize {
    background-color: var(--background-forms);
    border-radius: 0.5rem;
    width: 100%;
    height: 4rem;
    border: none;
    padding: 0 0 0 1rem;
    margin: 0 0 1rem 0;

}

.menu_rightCustomize_select {
    background-color: var(--backgroundcolor-allpage);
}

.menu__rightBorderColor {
    border: 1px solid white;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0.5rem;
}

.menu__rightColor {
    width: 100%;
    height: 3rem;
    border: none;
    padding:0;
}   

.menu__rightButton {
    margin: 1rem 0 0 0;
}

.menu__rightButtonSave {
    width: 100%;
    height: 4rem;
    background-color:#5081FB;
    border: none;
    border-radius: 0.5rem;
    color: black;
}

/* ------------- RESPONSIVIDADE --------------------- */

