


@media screen and (max-width:767px) {
    
    /* base.css */

    :root {
        --font-size-fields:12px
    }
    

    body{
        font-size: 12px;
    }

    .main__container {
        padding: 0;
        margin: 2%;
        display: block;
    }

    .title {
        padding: 10% 0 5% 0;
        font-size: 10px;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: var(--title-color);
    }

    /* header.css */

    .header__container {
        margin:1% 0 1.5% 0.5%;
        grid-template-columns: 0.8fr 3fr 0.3fr 0.5fr;
        grid-template-columns: [logo] 0.8fr [search] 3fr [search-icon] 0.3fr [menu-icon] 0.5fr;
    }

    .header__search {
        display: none;
        width: 70vw;
        min-height: 50px;
        margin-left: 1%;
        font-size: var(--font-size-fields);
        grid-column-start:search;
        grid-column-end:search-icon;
    
    }

   


    .header__author {
        display: none;
    }

    .header__logo{
        width: 50vw;
        max-width: 180px;
    }

    /* Menu Mobile - Icons - open/close */

   

    .nav__mobile-openIcon {
        color: var(--font-color);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 0.8rem;
        padding: 1rem;
        grid-column-start:menu-icon
    }

    .nav__mobile-closeIcon{
        color: var(--font-color);
        padding: 0.5rem;
        margin:10px;
        border-radius: 0.8rem;
        cursor: pointer;
    }

    

    /* Menu Mobile - Header/Search */

    .nav__mobile__header {
        display: flex;
        color: var(--font-color);
        cursor: pointer;
    }

    .nav__mobile-search {
        color: var(--font-color);
        padding: 1rem;
        grid-column-start:search-icon;
        grid-column-end:menu-icon;
        border-radius: 1rem;
    }


    .nav__mobile__searchSpace{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    

    /* Menu Mobile */

    

    .nav__mobile__menu {
        position: fixed;
        top: 0px;
        right: 0;
        width: 250px;
        height: 100vw;
        border-radius: 8px;
        background-color:var(--bg-mobile);
        display: none;
    }

    .nav__mobile__ul {

        font-size: 16px;
        line-height: 24px;
      }

    .nav__li {
        font-size: 1rem;
    }
      
    .nav__mobile-liPadding {
        padding: 0.2rem 1.5rem;
    }
    
    .mobile__logo {
        width: 30vw;
        max-width: 180px;
        padding: 0 1.5rem;
        grid-column-start:logo;
        grid-column-end:search;
    }
    

    

    /* Menu Mobile - Author */

    .mobile__author {
        background-color:var(--bg-mobile);
        margin-bottom: 10px;
        border: none;
        display: flex;
        align-items: center;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        margin-left:30px;
        border-radius: 0.8rem;
    }

   

    .mobile__author__photo {
    max-width: 45px;
    min-width: 32px;
    width: 8vw;
    padding-right: 20px;
    color: var(--font-color);
    }

    .mobile__author__name{
    padding: 0 0 0 10px;
    color: var(--font-color);
    font-size: 1rem;
    }

    hr {
        border:0.1px solid rgb(219, 219, 219);
        width: 90%;
    }
    
    .nav__menu {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    /* nav.css */

    .nav__container{
        display: none;
    }

    /* community.css */

    .community__container {
        display: inline-flex;
        flex-flow: column;
        min-width: 0;
        margin: 0;

    }

    .community__frame {
        width: 92.8vw;
        min-width: 420px;

    }



    /* middle.css */

    .middle__container {
        display: inline-flex;
        flex-flow: column;
        min-width: 0;
        margin: 0;
    }

    .middle__frame {
        min-width: 0;
        width: 94vw;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 32px;
        background-color: var(--bg-blue-light);
        margin: 0 0 0 2%;
    }

    
    .middle__background {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 1%;
        background-color: var(--bg-gray-dark);
        margin: 0;
        font-size: var(--font-size-fields);
    }

    .middle__text {
        overflow: hidden;
        font-size: var(--font-size-fields);
        min-width: 0;
        min-height: 0;
    }

    .middle__button {
        width: 95vw;
        height: 7vw;
        min-height: 40px;
        padding: 0;
        margin: 4% 0 0 0;
        background-color: #5081FB14;
        color: var(--font-color);
        font-size:var(--font-size-fields);
    }

    .middle__icons {

        padding: 10px 2rem 1rem 0;
        background-color: var(--bg-gray-dark);
    }


    /* project.css */


    .project__container {
        display: block;
        margin:0;
        margin-top: 2%;
    }

    .project__name { 
        min-width: none;
        height: 5vw;
        width: 90vw;
        min-height: 30px;
        font-size: var(--font-size-fields);
        margin: 0 0 3% 0;
    }

    .project__description {
        min-width: none;
        width: 90vw;
        min-height: 40px;
        height: 8vw;
        font-size: var(--font-size-fields);
    }

    .project__padding {
        padding:2% 0 0 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    .project__select {
        height: 6.5vw;
        width: 95vw;
        min-height: 40px;
        padding: 0 2% 0 2%;
        margin: 0 0 3% 0;
        font-size: var(--font-size-fields);
        
    }

    .project__color__box__border {
        border-radius: 0.8rem;
        border: 1px solid white;
        width: 95vw;
        height: 4.5vw;
        min-height: 30px;
        padding: 2%;
    }

    .project__color__box__fill {
        width: 90vw;
        height: 4.5vw;
        min-height: 30px;
        border: none;
    }

    .mobile__customize {
        width: 95vw;
        display: flex;
        flex-wrap: wrap;
    }

    .project__button{
        width: 95vw;
        height: 7vw;
        min-height: 45px;
        margin-top: 5%;
        font-size: var(--font-size-fields);
    }

}

